@media only screen and (max-width : 1200px) {



    .icon-log {
        height: 100px;
    }

    .content {
        min-height: 125px;
    }

    .heder_p {
        font-size: 45px;
        margin: 0 auto;
    }

    .icon-log,
    .header-navigation__tel,
    .heder_p {
        display: none;
    }

    .container_mob {
        display: flex;
    }

    .heder_p {
        margin-left: 40px;
        margin-top: 20px;
        font-size: 40px;
    }





    .container__in {
        overflow: hidden;
        display: block;
        height: 1500px;
    }

    .container2 {
        background: #292626;
        height: 1500px;
    }

    .section2 {
        height: 1900px;

    }



    .header-navigation__tel-mob {
        display: flex;
        height: 105px;
        width: 900px;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
        justify-content: center;
        background: #82cc49;
        border: solid 4px white;
        font-size: 80px;
        color: white;

    }

    .heder_p-mob {
        color: white;
        font-size: 85px;
        margin: 0 auto;
        display: flex;
    }



    .header-navigation__tel_icon-div {
        width: 300px;
        height: 300px;
        display: inline-flex;
    }

    .header-navigation__viber_icon,
    .header-navigation__tel_icon {
        width: 100px;
        height: 100px;
    }

    .header-navigation__viber_icon {
        background-image: url(imge/vibek-mob.jpg);
    }

    .header-navigation__tel_icon {
        background-image: url(imge/tel-mob.jpg);
    }

    .footer {
        max-width: 1440px;
        height: 200px;
    }
}
