body {
    margin: 0;

}

body * {
    box-sizing: border-box;
}

.section_mob {
    display: none;
}

.heder {
    background-color: #131313;
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: space-between;
    min-height: 83px;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.Logo {
    color: white;
    margin-left: 92px;
    font-family: Nunito Sans;
}

.Logo2 {
    font-family: Nunito Sans;
    color: white;
    margin-right: 45px;
    font-size: 15px;
}

.icon-log {
    width: 120px;
    height: 52px;
    margin-left: 25px;
    background-image: url(imge/icon1.jpg);
    border-radius: 50%;
    border: 2px solid black;

}

.header-navigation__tel {
    margin-right: 22.36px;
}

.header-navigation__tel a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: Nunito Sans;
}



.header-navigation__tel a:hover {
    color: #E3B873;
}

.main {
    overflow: hidden;
}

.info {
    display: flex;
    padding-top: 100px;


}

.info-logo {
    background-image: url(imge/kadar2.jpg);
    width: 400px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    border: solid white;
    z-index: 1;
}


.container {
    margin: 0 auto;
    max-width: 1440px;
    height: 350px;
    background-image: url(imge/fon2.png);



}

.container2 {
    margin: 0 auto;
    width: 1440px;
    height: 707px;
    background: #292626;

}



.section {
    position: relative;
    background: black;
    background-size: cover;
    height: 350px;
    max-width: 100%;
    overflow: hidden;

}

.section2 {
    background: black;
    height: 850px;
    max-width: 100%;
    overflow: hidden;

}

.section-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.heder_p {
    color: white;
    font-size: 35px;
    margin-left: 500px;
    font-family: Nunito Sans;
}



h1 {
    margin: 0;
}

.footer {
    background-color: #131313;
    overflow: hidden;
}

.in1 {
    background-image: url(imge/motor.jpg);
    width: 300px;
    height: 215px;


    margin-top: 80px;
    border-radius: 50%;
    border: 10px solid black;
}

.in2 {
    background-image: url(imge/korob.jpg);
    width: 300px;
    height: 215px;


    margin-top: 80px;
    border-radius: 50%;
    border: 10px solid black;
}


.in3 {
    background-image: url(imge/pod.jpg);
    width: 300px;
    height: 215px;


    margin-top: 80px;
    border-radius: 50%;
    border: 10px solid black;


}

.in4 {
    background-image: url(imge/rasx.jpg);
    width: 300px;
    height: 215px;


    margin-top: 80px;
    border-radius: 50%;
    border: 10px solid black;

}

.container__in {
    display: flex;
    width: 600px;
    height: 500px;
    background-size: cover;
}

.container__in_1 {
    margin-left: 280px;
}

.in__h2 {
    position: relative;
    z-index: 1;
    color: white;
    font-family: Nunito Sans;
}

.header-navigation__tel-mob {
    display: none;
}

.heder_p-mob {
    display: none;
}

.section2__icon {
    height: 300px;
    max-width: 1440px;
    background: #292626;
    margin: 0 auto;
    padding-top: 75px;
    display: flex;
    background-size: cover;


}

.header-navigation__tel_icon-div {
    width: 300px;
    height: 300px;
    display: inline-flex;
    margin: 0 auto;
}

.header-navigation__tel_icon {
    display: flex;
    height: 54px;
    width: 54px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    background-image: url(imge/tel.jpg);
    border: solid 4px white;
    font-size: 50px;
    color: white;
    margin-right: 55px;
}

.header-navigation__viber_icon {
    display: flex;
    height: 54px;
    width: 54px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    background-image: url(imge/vibek.jpg);
    border: solid 4px white;
    font-size: 50px;
    color: white;

}
